<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortsites</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
</head>
<body class="flex flex-col font-sans m-0 min-h-screen text-zinc-100 items-center justify-center bg-zinc-950">

    <header class="flex flex-row items-center gap-4 justify-center bg-zinc-900 p-4 border border-zinc-800 max-w-3xl w-full text-center rounded-lg shadow-xl mb-4">
        <a href="/" class="text-zinc-200 hover:text-purple-400 transition">Home</a> ⋆
        <a href="/tutorials" class="text-zinc-200 hover:text-purple-400 transition">Tutorials</a> ⋆
        <a href="/about" class="text-zinc-200 hover:text-purple-400 transition">About</a>
    </header>

    <div class="flex flex-col items-center justify-center bg-zinc-900 p-6 border border-zinc-800 max-w-3xl w-full text-center rounded-lg shadow-xl">
        <h1 class="text-4xl text-zinc-200 font-bold mb-2">shortsites by varun</h1>
        <p class="text-neutral-400">easily create a html/css/js website in seconds and deploy it to the internet for everyone to see. the goal of shortsites is to let students learn how to write websites through our modern editor.</p>
        <a href="/create" class="mt-4 text-purple-400 hover:brightness-110 transition duration-200 ease hover:scale-[1.15]">create a shortsite</a>
    </div>
    
    {% if sites %}
    <div class="mt-8 flex flex-col items-center justify-center bg-zinc-900 p-6 border border-zinc-800 max-w-3xl w-full text-center rounded-lg shadow-xl">
        <h2 class="text-2xl text-zinc-200 font-bold mb-4">Your Shortsites</h2>
        <div class="grid gap-4 w-full">
            {% for site in sites %}
            <div class="flex justify-between items-center p-4 bg-zinc-800 rounded-lg">
                <a class="text-zinc-200 underline hover:text-purple-400" href="/s/{{site.code}}">shortsite/{{ site.code }}</a>
                <div class="flex gap-2 text-zinc-400">
                    <a href="/s/{{ site.code }}" class="text-purple-400 hover:text-purple-300 transition">View</a>• 
                    <a href="/edit/{{ site.code }}?code={{ site.password_hash }}" class="text-purple-400 hover:text-purple-300 transition">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</body>
</html>
