<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortsites</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
</head>
<body class="flex flex-col font-sans m-0 min-h-screen text-zinc-100 items-center justify-center bg-zinc-950">
    <div class="flex flex-col items-center justify-center bg-zinc-900 p-6 border border-zinc-800 max-w-3xl w-full text-center rounded-lg shadow-xl">
        <h1 class="text-4xl text-zinc-200 font-bold mb-2">shortsites by varun</h1>
        <p class="text-neutral-400">easily create a html/css/js website in seconds and deploy it to the internet for everyone to see. the goal of shortsites is to let students learn how to write websites through our modern editor.</p>
        <a href="/create" class="mt-4 text-purple-400 hover:brightness-110 transition duration-200 ease hover:scale-[1.15]">create a shortsite</a>
    </div>
</body>
</html>
