<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortsites</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
    <style>
        a { color: #E6B450 !important; text-decoration: none !important; transition: 0.3s ease !important; }
        a:hover { scale: 1.2; transform: skew(-15deg); }
    </style>
</head>
<body class="flex flex-col font-sans m-0 min-h-screen text-white items-center justify-center bg-[#0C0E13]">
    <div class="flex flex-col items-center justify-center bg-[#0E1017] p-6 border border-[#1E232B] max-w-3xl w-full text-center">
        <h1 class="text-4xl text-[#E6B450] font-bold mb-2">shortsites</h1>
        <p class="text-gray-200">create a short site to show off something cool, a product, demo app, basically anything as long as it can fit into html, css, and js. We clear all sites monthly, and will delete any that we find weird.</p>
        <a href="/create" class="mt-4">create a shortsite</a>
    </div>
</body>
</html>
